
/*
The user provided config file can provide settings in addition to the the settings in the nextflow.config file.
Here's some examples on how you can write your own config file.
Command example with config file:
nextflow run main.nf -c usr_template.config
*/

/*
You can set the pipeline parameters within the config file instead of providing them on the command line like this:
*/
params {
	project = "test_res_dir"
	samples = "/home/jay/pangenome-pipeline/data/mock/mock.samples"
	fastq = "/home/jay/pangenome-pipeline/data/mock/raw"
	threads = 12
}

executor.queueSize = 1
workDir = "test_scratch"
