plugins {
    id 'nf-schema@2.4.1'
}


//Metadata
manifest {
        author		= "Jay Hakansson"
        homePage 	= "https://github.com/Jay-uu/pangenome-pipeline"
        description = "This pipeline takes raw reads and a samples file of metagenomic samples and produces pangenome assemblies" //this needs to be improved/changed
	    version 	= "0.6.2"
}

//Define parameters

params {
    help = null //default no help message
//project name
    project = null
//file with sample names
    samples = null
//Directory with fastq files
    fastq = null
//CPU threads
    threads = 8
//mOTUlizer settings
    MAGcomplete = 70
    MAGcontam = 5
//mOTU settings
    min_mOTU_MAGs = 1
//Taxonomy sorting
    taxSort = "root"
//Pangenome quality
    nr_samps_threshold = 5
    min_cov = 20
    min_breadth = 40
//Pangenome mapping
    block_size = 2
    min_contig_len = 1000
    contigs = null
//Subsampling and cov estimation settings
    subsample = true
    nr_subsamp = 1000000
    force_variant_calling = false //can be used when not subsampling to run the variant calling workflow anyways
//Binning settings
    binners = "maxbin,metabat2,concoct"
//POGENOM settings
    min_locus_cov = 10

//Alternative start points
    bins = null //A dir with genomes in fasta format
    readcount = null //file with fastq read numbers
    ref_genome = null //A fasta file
//Alternative end points
    run_VC = true
    only_bins = false
}

validation {
    help {
        enabled = true
        command = "nextflow run main.nf --project <project_name> --samples <tsv.samples> --fastq <path/to/dir> --threads <nr> \n\n To get more info about a specific parameter write nextflow run main.nf --help <parameter_name>.\nTo list all parameters use the --helpFull flag."
    }
    parametersSchema = "nextflow_schema.json"
    failUnrecognisedParams = true
    validate_params        = true
}

//Default execution settings:
//workDir 		= params.project + "/work" //can be specified on the command line with -w <path>
process.executor 	= 'local'
process.cpus 		= params.threads
process.errorStrategy = 'finish'
executor.queueSize	= 1
