plugins {
  id 'nf-validation@0.2.1'
}

//Metadata
manifest {
        author		= "Jay Hakansson"
        homePage 	= "https://github.com/jtamames/SqueezeMeta"
        description 	= "This pipeline takes raw reads and a samples file of metagenomic samples and produces pangenome assemblies" //this needs to be improved/changed
	version 	= "1.0.0"
}

//Define parameters

params {
    help = null //default no help message
//project name
    project = null
//file with sample names
    samples = null
//Directory with fastq files
    fastq = null
//CPU threads
    threads = 8
//mOTUlizer settings
    MAGcomplete = 70
    MAGcontam = 5
//mOTU settings
    min_mOTU_MAGs = 1
    max_contam = 5
//Taxonomy sorting
    taxSort = "root"
//Pangenome quality
    nr_samps_threshold = 5
    min_median_cov = 20
    min_breadth = 40
//Pangenome mapping
    block_size = 2
    min_contig_len = 1000
    contigs = null
//Subsampling and cov estimation settings
    subsample = true
    nr_subsamp = 100000
    readcount = null //file with fastq read numbers
    force_variant_calling = false //can be used when not subsampling to run the variant calling workflow anyways
//Binning settings
    binners = "maxbin,metabat2,concoct"
//POGENOM settings
    min_locus_cov = 10

//Alternative start points
    bins = null
    //A dir with genomes in fasta format
    ref_genomes = null

//For validation
params.validationFailUnrecognisedParams = true
//To be able to access the manifest
    manifest = manifest
//Ignored by parameter validation
    validationSchemaIgnoreParams = "manifest"
}

//Default execution settings:
workDir 		= params.project + "/work" //can be specified on the command line with -w <path>
process.executor 	= 'local'
process.cpus 		= params.threads
executor.queueSize	= 1

//Conda settings, probably only for dev
conda.enabled = true
