plugins {
  id 'nf-validation@0.2.1'
}

//Metadata
manifest {
        author 		= "Jay Hakansson"
        homePage 	= "https://github.com/jtamames/SqueezeMeta" //hopefully
        description 	= "This pipeline takes raw reads and a samples file of metagenomic samples and produces pangenome assemblies" //this needs to be improved/changed
	version 	= "1.0.0"
}

//Define parameters

params {
    help = null //default no help message
//project name
    project = null
//file with sample names
    samples = null
//Directory with fastq files
    fastq = null
//CPU threads
    threads = 8
//mOTUlizer settings
    MAGcomplete = 70
    MAGcontam = 5
//mOTU settings
    min_mOTU_MAGs = 1
    max_contam = 5
//Taxonomy sorting
    taxSort = "root"
//Pangenome quality
    mean_cov_threshold = 20
    nr_samps_threshold = 5
//Pangenome mapping
    min_med_cov = 20
    min_breadth = 40
    block_size = 2
//Subsampling and cov estimation settings
    nr_subsamp = 1000000

//Alternative start points
    assembly = null
    bins = null
    //A dir with genomes in fasta format
    ref_genomes = null

//To be able to access the manifest
    manifest = manifest
//Ignored by parameter validation
    validationSchemaIgnoreParams = "manifest"
}

//Default execution settings:
workDir 		= params.project + "/work" //can be specified on the command line with -w <path>
process.executor 	= 'local'
process.cpus 		= params.threads
executor.queueSize	= 1

//Conda settings, probably only for dev
conda.enabled = true
